<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name='B-verify' content='a6daa48b8384cd83d6503285d688043d2d4dbd9f' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="background-color: cornsilk ">

        @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
